//  Fonts
$montserrat: "Montserrat", sans-serif;
$Logo: "Signika", sans-serif;

// Colors
$white-color: #ffffff;
$white-light-color: #f3f3f7;
$pink-color: #ff2e65;
$orange-color: #fe5f1e;
$black-color: #231f20;
$grey-color: #696f7a;
$grey-light-color: #e2e2e9;

// colors by appointment
$box-shadow: rgba(114, 114, 114, 0.2);
$text-color: $black-color;
$bg-view: $white-light-color;
